[build-system]
requires        = ["scikit-build-core>=0.3.3", 
                    "nanobind>=1.3.2"  , "typing_extensions"]
build-backend = "scikit_build_core.build"

[project]
name = 'SBGeom'
version= '0.0.4'
description = "Python package for creating stellarator geometry"
readme= "README.md"
authors = [{name = "Timo Bogaarts", email = "t.j.bogaarts@tue.nl"}]
dependencies = [          
          "numpy",
          "meshio",
          "h5py",
          "plotly",
          "scipy"
        ]
requires-python = ">= 3.8"

[tool.scikit-build]

cmake.verbose = true

cmake.targets = ['sbgeom_cpp', 'sbgeom_cpp_stub']
install.strip  = false

build-dir = "build/{wheel_tag}"

[tool.cibuildwheel]
before-all ="git clone https://gitlab.com/libeigen/eigen.git "
environment = "EIGEN3_INCLUDE_DIR=$PWD/eigen/"
skip = ["*i686*"]
build = "cp39-*"