; ----------------------------------------------------------------------
[general]
device_file = devices.xml

log_level = info

enable_history = True
history_buffer = 10000

superuser_pin = 12345
max_attempts = 5

enable_slots = True

; ----------------------------------------------------------------------
[snapshots]

confirmation_to_apply = no

; ----------------------------------------------------------------------
[background]

background_file = background.png

; ----------------------------------------------------------------------
[beamline_ui]
section_height = 500

widget_rows = 1

# this used, when background is False
horizontal_step = 250
vertical_step = 250
device_width = 200
device_height = 200

selected_device_refresh_period = 500
beamline_refresh_period = 1000