[project]
name = "freesimplesql"
version = "0.1.1"
description = "A SQLite database browser using freesimplegui"
requires-python = ">=3.7"
dependencies = [
    "faker>=18.13.0",
    "freesimplegui>=5.2.0.post1",
    "loguru>=0.7.3",
    "python-dateutil>=2.8.2",
    "sqlmodel>=0.0.24",
]
readme = "readme.md"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/freesimplesql"]

[project.scripts]
freesimplesql = "freesimplesql.__main__:main"
