# A generic configuration.
[FTP]
ftp_namespace = /ftp/admin
ftp_host = localhost
ftp_user = admin
ftp_password = 123456
ftp_port = 2222

[FILE_UPLOAD_TYPE]
# 默认为True, FTP上报， False则走SFTP上报
upload_choose = True

[SFTP]
sftp_namespace = /ftp/admin
sftp_host = localhost
sftp_user = admin
sftp_password = 123456
sftp_port = 2233

[API]
# CDP页面地址
oauth2_uri = http://127.0.0.1
token = xxxxxx
project_id = 1

[App]
# 临时文件目录地址
# 注：tmp目录磁盘空间不大，易造成堵塞，建议更改临时文件目录地址
temp_dir = /tmp

[SSL]
# SSL证书校验
verify = False

[SAAS]
saas_uri = https://www.growingio.com/
# Saas接口请求所需的认证码,具体参考 https://docs.growingio.com/v3/product-manual/projectmange/projectmange/api-token
saas_token = Bpu5OhlRsXKyNfycq3jdq5rTUxrtprucxQPOKj2kKAYjfjoJ4AnxcM468ZFDlGg9
# https://www.growingio.com/admin/projects/nxog09md/dashboard 当前项目的UID为 nxog09md
saas_uid = GPn0mwq9